.form-builder{
    width:550px;
    margin: 20px auto auto auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.input-block{
    width:50%;
    padding-top:30px;
}

.input-block > label,
.input-block > nav {
    margin-left:calc(50% - 50px);
}

.titleInput {
    width: 550px;
    margin:20px auto 20px auto;
}

.input-block > nav{
    margin-top:-13px;
}








