.form-builder{
    width:100%;
    margin: 20px auto auto auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.input-block{
    width:50%;
    padding-top:30px;
}

.create-name-form-label,
.create-name-form{
    width:60%;
}

.input-block > label,
.input-block > nav {
    margin-left:calc(50% - 50px);
}

.titleInput {
    width: inherit;
    margin:20px auto 20px auto;
}

.input-block > nav{
    margin-top:-13px;
}

.menu ul li{
    width: auto;
    border: 1px solid black;
}
.menu ul > li:hover{
    background-color: white;
}
.menu ul ul > li:hover{
    background-color: white;
}
.menu ul li, .menu ul{
    display: inline-block;
}
.menu ul{
    position: relative;
    padding: 0;
    background-color: white;
    margin-left: -1px;
    width: 69px;

}
.menu ul ul{
    display: none;
    position: absolute;
    background-color: white;
}
.menu ul a{
    color: black;
    text-decoration: none;
}
.menu ul ul a{
    color: black;
    text-decoration: none;
}
.menu li:hover ul{
    display: block;
}

.menu li:hover li{
    display: block;
}

.menu  label{
    font-size:16px;
}

.menu div {
    width: 100%;
}

.menu{
    width: 69px;
}

label{
    font-size: 20px;
}
.create-name-form-label{
    font-size:25px;
    margin: 0 auto;
    font-weight: bold;
}

.create-name-form{
    width:100%;
}

.input-forms > div {
    display: flex;
    width: 153px;
    flex-direction:initial;
    margin-top: 20px;
}


.input-forms{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-forms > div > label{
    margin: 0 auto;
}

.button{
    margin: 0 auto;
}

.button{
    display: block;
    text-decoration:none;
    text-align:center;
    padding:11px 32px;
    border:solid 1px #004F72;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
    font:18px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#E5FFFF;
    background-color:#3BA4C7;
    background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
    background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
    background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
    background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 );
    background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    margin-top: 50px;
    width:100px;
}


////////////////////*selectMenu*///////////////////////////////
.mainmenubtn {
    background-color: red;
    color: black;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    min-width: 50px;
}
.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}

.select-menu {
    margin-left: 10%;
}









